apps/backend/src/BFF
apps/backend/src/EntitiesAPI
apps/backend/src/Middlewares
apps/backend/src/Utils
apps/frontend/src/BFF
apps/frontend/src/components/atoms/PageTopHeading
apps/frontend/src/components/molecules/DropDownList
apps/frontend/src/components/molecules/Alert.tsx
apps/frontend/src/components/molecules/Backdrop.tsx
apps/frontend/src/components/organisms/ConfirmationDialog.tsx
apps/frontend/src/dependencies-injection
apps/frontend/src/gateways
apps/frontend/src/pages/CostPricePatternsManagement
apps/frontend/src/pages/CostPriceRegistration
apps/frontend/src/utils/ExcelHelper.ts
packages/shared/src/BFF
packages/shared/src/Entities
packages/shared/src/Gateways
packages/shared/src/Transactions
packages/shared/src/validators
